In [ ]:
#Author : Sateesh K
#Date   : 17/May/2020
#Purpose: As a part of UpX project, this is a submission to complete Capstone project
#Guidelines: 
#Prepare the report in form of a power point presentation. Below
#are the guidelines for the report.
#a. Domain & topic of project
#b. Introduction (brief info on project)
#c. Dataset description
#d. Business questions identified (at least 7-8 questions)
#General format:
#Question 1
#Approach
#Findings & Visualizations
#e. Cleaning data and data imputation
#f. Train-test data split
#g. Model building, training and testing
#h. Performance metrics
#2. Use at least three algorithms learned from the Machine Learning track for the
#project.

In [ ]:
#Load the data from .csv into a data-frame
import pandas as pd
initial_df = pd.read_csv('AirQualityUCI.csv')
initial_df.head()
initial_df.shape

In [ ]:
#Check for null values
print(initial_df.isnull().sum())

In [ ]:
#Print the null values of Date column to observe how the data looks.
initial_df[initial_df['Date'].isnull()]

In [ ]:
#Insert meaningful values for Date NaN
#Get 100 rows above the first NaN date value
initial_df.loc[9337:9357,:]

In [ ]:
#Observing the data, each data has a data point per hour
#However all the column of Date NaN also have a NaN
#Hence it makes sense to drop all NaN rows which amount to 114 data points out of 9471 data points = 0.11%
initial_df.dropna(subset=['Date'],inplace=True)
initial_df.info()
initial_df.shape

In [ ]:
#Now check if the Date filed no longer as NaN
initial_df[initial_df['Date'].isnull()]

## All NaN in Date filed are dropped off, hence lost 114 rows out of 9471 rows of data.

In [ ]:
#Now check over-all NaN in data-set
#Check for null values
print(initial_df.isnull().sum())

In [ ]:
#Column 15 and 16 has no valid data, so need to dop them as well.
initial_df.drop(initial_df.filter(regex="Unnamed"),axis=1, inplace=True)
initial_df.describe()
initial_df.shape

## As NaN in Date co-incided with NaN in other column, now there are no more NaN, Data is cleaned-up for further processing.

In [ ]:
#Copy into a new Pandas Data-frame for clarity purposes only
cleaned_up_df = initial_df
initial_df.shape
cleaned_up_df.shape

In [ ]:
#There is a problem with pandas_profile , hence ditching it. In fact pandas profile does not work even with a simple data-frame.

In [ ]:
cleaned_up_df.head()
cleaned_up_df.shape

In [ ]:
#Remove date and time for plotting purposes
temp_df = cleaned_up_df.copy()
temp_df.drop(columns=['Date','Time']) #This line causes error if executed mutiple times as 
#'Date' and 'Time' no longer esist after
#first run
temp_df.plot()
cleaned_up_df.shape

In [ ]:
#From above graph it is clear that -200 is an invalid value which needs to be got rid of.
#The idea is to drop if -200 is found in more than two columns
#An attempt was made to drop all -200 values, but then the number of data points drop to from 9357 to 827, hence the logic
#of dropping rows where two columns have -200.
#filterinfDataframe = dfObj[(dfObj['Sale'] > 30) & (dfObj['Sale'] < 33) ]
sub_set_df = cleaned_up_df[(cleaned_up_df['CO(GT)'] != -200) & (cleaned_up_df['PT08.S1(CO)'] != -200)]
sub_set_df.shape

In [ ]:
#Now you will see a more clean-plot
sub_set_df.plot()
sub_set_df.shape

In [ ]:
#Count the remaining -200s in the data-set to decide how to proceed
print("In column CO(GT),  % of invalid values", (sub_set_df['CO(GT)'] == -200).sum(axis=0)/len(sub_set_df)*100)
print("In column PT08.S1(CO),  % of invalid values", (sub_set_df['PT08.S1(CO)'] == -200).sum(axis=0)/len(sub_set_df)*100)
print("In column NMHC(GT),  % of invalid values", (sub_set_df['NMHC(GT)'] == -200).sum(axis=0)/len(sub_set_df)*100)
print("In column C6H6(GT) % of invalid values", (sub_set_df['C6H6(GT)'] == -200).sum(axis=0)/len(sub_set_df)*100)
print("In column PT08.S2(NMHC) % of invalid values", (sub_set_df['PT08.S2(NMHC)'] == -200).sum(axis=0)/len(sub_set_df)*100)
print("In column NOx(GT) % of invalid values", (sub_set_df['NOx(GT)'] == -200).sum(axis=0)/len(sub_set_df)*100)
print("In column PT08.S3(NOx) % of invalid values", (sub_set_df['PT08.S3(NOx)'] == -200).sum(axis=0)/len(sub_set_df)*100)
print("In column NO2(GT) % of invalid values", (sub_set_df['NO2(GT)'] == -200).sum(axis=0)/len(sub_set_df)*100)
print("In column PT08.S4(NO2) % of invalid values", (sub_set_df['PT08.S4(NO2)'] == -200).sum(axis=0)/len(sub_set_df)*100)
print("In column PT08.S5(O3) % of invalid values", (sub_set_df['PT08.S5(O3)'] == -200).sum(axis=0)/len(sub_set_df)*100)
print("In column T % of invalid values", (sub_set_df['T'] == -200).sum(axis=0)/len(sub_set_df)*100)
print("In column RH % of invalid values", (sub_set_df['RH'] == -200).sum(axis=0)/len(sub_set_df)*100)
print("In column AH % of invalid values", (sub_set_df['AH'] == -200).sum(axis=0)/len(sub_set_df)*100)

## As the NMHC(GT) contains 88% -200 values, this column is dropped off.

In [ ]:
#Drop the column NMHC(GT)
sub_set_with_minimal_minus_200 = sub_set_df.drop(['NMHC(GT)'],axis=1)
sub_set_with_minimal_minus_200.shape
sub_set_with_minimal_minus_200.plot()

In [ ]:
#Common -200 values in NOx(GT) and NO2(GT) can be removed as well.
fully_clean_df = sub_set_with_minimal_minus_200[(sub_set_with_minimal_minus_200['NOx(GT)'] != -200) & (sub_set_with_minimal_minus_200['NO2(GT)'] != -200)]
fully_clean_df.plot()
fully_clean_df .shape

In [ ]:
#Hypothesis 1
#Relative humidity and temperature are positively co-related
import seaborn as sns
sns.relplot(x='T', y='RH', data=fully_clean_df);

## Air temperature and Relative humidity are negatively co-related

In [ ]:
#Hypothesis 2: Absolute Humidity is negatively co-related to temperature
import seaborn as sns
sns.relplot(x='T', y='AH', data=fully_clean_df);

## As temperature increases Absolute humidity also increases

In [ ]:
#Hypothesis 3: Absolute and relative humidity are positively co-related
import seaborn as sns
sns.relplot(x='RH', y='AH', hue='T', data=fully_clean_df);

## Absolute and Relative humidity are positively co-related.

In [ ]:
#Hypothesis 4: CO and NO2 are produced due to combustion in vehciles. They both are formed from very similar reactions, 
#hence they must be positively co-related.
import seaborn as sns
sns.relplot(x='PT08.S1(CO)', y='PT08.S4(NO2)', data=fully_clean_df);

In [ ]:
#Hypothesis 5: NO compounds cause creation of secondary pollutants like O3, hence NO and O3 should be positively co-related.
import seaborn as sns
sns.relplot(x='PT08.S4(NO2)', y='PT08.S5(O3)', data=fully_clean_df);

In [ ]:
#Hypothesis 6: NOx and NO2 are similar family compounds hence will be positively co-related
import seaborn as sns
sns.relplot(x='PT08.S3(NOx)', y='PT08.S4(NO2)', data=fully_clean_df);

In [ ]:
#Hypothesis 7: The composition of vehicular pollutants in terms of % is as follows:
#HC 1.75g/km
#CO 20.9 g/km
#NOx 1.39g/km
#CO2 258g/km

#Based on above composition, and the fact that the sensors were placed on a busy street junction
#Ratio of CO to NOx should always be greater than 1.
import seaborn as sns
temp_df['Pollution_Ratio'] = fully_clean_df['PT08.S1(CO)'] / fully_clean_df['PT08.S3(NOx)']
sns.distplot(temp_df['Pollution_Ratio'])

In [ ]:
#Check if the sensors are data points are positively co-related to GT values.
#If this is the  case then the Ground Truth can be removed from the ML models as they exist only to verify sensor data.
import seaborn as sns
sns.relplot(x='CO(GT)', y='PT08.S1(CO)', data=fully_clean_df);
sns.relplot(x='NOx(GT)', y='PT08.S3(NOx)', data=fully_clean_df);
sns.relplot(x='NO2(GT)', y='PT08.S4(NO2)', data=fully_clean_df);

In [ ]:
#Drop all the GT values for ML model building. 
#Note C6H6 is kept as is, as this there is no sensor value for the same.
print(fully_clean_df.shape)
ml_data_set = fully_clean_df.drop(['CO(GT)','NOx(GT)','NO2(GT)'],axis=1)
print(ml_data_set.shape)

In [ ]:
#Split the date and time so that ML models can use them to learn.
#For e.g. months are needed to take into account seasonality in Italy
#Spring Mar-May
#Summer June-Aug
#Autumn Sep-Nov
#Winter Dec-Feb
#The format of date is M/DD/YYYY or M-DD-YY
#First is to make all date formats uniform
type(ml_data_set['Date'])