In [29]:
#Author : Sateesh K
#Date   : 17/May/2020
#Purpose: As a part of UpX project, this is a submission to complete Capstone project
#Guidelines: 
#Prepare the report in form of a power point presentation. Below
#are the guidelines for the report.
#a. Domain & topic of project
#b. Introduction (brief info on project)
#c. Dataset description
#d. Business questions identified (at least 7-8 questions)
#General format:
#Question 1
#Approach
#Findings & Visualizations
#e. Cleaning data and data imputation
#f. Train-test data split
#g. Model building, training and testing
#h. Performance metrics
#2. Use at least three algorithms learned from the Machine Learning track for the
#project.

In [30]:
#Load the data from .csv into a data-frame
import pandas as pd
initial_df = pd.read_csv('AirQualityUCI.csv')
initial_df.head()

,Date,Time,CO(GT),PT08.S1(CO),NMHC(GT),C6H6(GT),PT08.S2(NMHC),NOx(GT),PT08.S3(NOx),NO2(GT),PT08.S4(NO2),PT08.S5(O3),T,RH,AH,Unnamed: 15,Unnamed: 16
0,3/10/2004,18:00:00,2.6,1360.0,150.0,11.9,1046.0,166.0,1056.0,113.0,1692.0,1268.0,13.6,48.9,0.7578,NaN,NaN
1,3/10/2004,19:00:00,2.0,1292.0,112.0,9.4,955.0,103.0,1174.0,92.0,1559.0,972.0,13.3,47.7,0.7255,NaN,NaN
2,3/10/2004,20:00:00,2.2,1402.0,88.0,9.0,939.0,131.0,1140.0,114.0,1555.0,1074.0,11.9,54.0,0.7502,NaN,NaN
3,3/10/2004,21:00:00,2.2,1376.0,80.0,9.2,948.0,172.0,1092.0,122.0,1584.0,1203.0,11.0,60.0,0.7867,NaN,NaN
4,3/10/2004,22:00:00,1.6,1272.0,51.0,6.5,836.0,131.0,1205.0,116.0,1490.0,1110.0,11.2,59.6,0.7888,NaN,NaN

In [31]:
#Check for null values
print(initial_df.isnull().sum())

Date              114
Time              114
CO(GT)            114
PT08.S1(CO)       114
NMHC(GT)          114
C6H6(GT)          114
PT08.S2(NMHC)     114
NOx(GT)           114
PT08.S3(NOx)      114
NO2(GT)           114
PT08.S4(NO2)      114
PT08.S5(O3)       114
T                 114
RH                114
AH                114
Unnamed: 15      9471
Unnamed: 16      9471
dtype: int64

In [32]:
#Print the null values of Date column to observe how the data looks.
initial_df[initial_df['Date'].isnull()]

,Date,Time,CO(GT),PT08.S1(CO),NMHC(GT),C6H6(GT),PT08.S2(NMHC),NOx(GT),PT08.S3(NOx),NO2(GT),PT08.S4(NO2),PT08.S5(O3),T,RH,AH,Unnamed: 15,Unnamed: 16
9357,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
9358,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
9359,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
9360,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
9361,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
9466,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
9467,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
9468,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
9469,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
9470,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [33]:
#Insert meaningful values for Date NaN
#Get 100 rows above the first NaN date value
initial_df.loc[9337:9357,:]

,Date,Time,CO(GT),PT08.S1(CO),NMHC(GT),C6H6(GT),PT08.S2(NMHC),NOx(GT),PT08.S3(NOx),NO2(GT),PT08.S4(NO2),PT08.S5(O3),T,RH,AH,Unnamed: 15,Unnamed: 16
9337,4/3/2005,19:00:00,2.7,1248.0,-200.0,11.1,1018.0,367.0,599.0,181.0,1289.0,1167.0,19.9,33.0,0.7608,NaN,NaN
9338,4/3/2005,20:00:00,2.5,1180.0,-200.0,7.9,894.0,355.0,636.0,187.0,1200.0,1372.0,17.5,40.7,0.8073,NaN,NaN
9339,4/3/2005,21:00:00,1.5,1102.0,-200.0,6.0,812.0,235.0,693.0,158.0,1178.0,1042.0,16.4,46.6,0.8642,NaN,NaN
9340,4/3/2005,22:00:00,1.6,1116.0,-200.0,5.8,803.0,233.0,696.0,153.0,1173.0,1055.0,15.5,49.0,0.8579,NaN,NaN
9341,4/3/2005,23:00:00,1.2,1100.0,-200.0,5.1,769.0,170.0,722.0,128.0,1147.0,1049.0,14.3,52.5,0.8497,NaN,NaN
9342,4/4/2005,0:00:00,0.9,1012.0,-200.0,3.5,683.0,117.0,801.0,93.0,1073.0,816.0,14.2,51.4,0.8275,NaN,NaN
9343,4/4/2005,1:00:00,0.6,944.0,-200.0,1.9,579.0,70.0,925.0,58.0,1002.0,598.0,13.8,51.2,0.8058,NaN,NaN
9344,4/4/2005,2:00:00,0.5,912.0,-200.0,1.5,544.0,69.0,959.0,55.0,1002.0,573.0,12.1,56.3,0.7927,NaN,NaN
9345,4/4/2005,3:00:00,0.4,887.0,-200.0,1.1,508.0,62.0,1047.0,51.0,974.0,549.0,11.3,58.9,0.7888,NaN,NaN
9346,4/4/2005,4:00:00,-200.0,864.0,-200.0,0.8,478.0,52.0,1116.0,43.0,958.0,489.0,11.8,56.0,0.7743,NaN,NaN
9347,4/4/2005,5:00:00,0.5,888.0,-200.0,1.3,528.0,77.0,1077.0,53.0,987.0,578.0,10.4,59.9,0.7550,NaN,NaN
9348,4/4/2005,6:00:00,1.1,1031.0,-200.0,4.4,730.0,182.0,760.0,93.0,1129.0,905.0,9.5,63.1,0.7531,NaN,NaN
9349,4/4/2005,7:00:00,4.0,1384.0,-200.0,17.4,1221.0,594.0,470.0,155.0,1600.0,1457.0,9.7,61.9,0.7446,NaN,NaN
9350,4/4/2005,8:00:00,5.0,1446.0,-200.0,22.4,1362.0,586.0,415.0,174.0,1777.0,1705.0,13.5,48.9,0.7553,NaN,NaN
9351,4/4/2005,9:00:00,3.9,1297.0,-200.0,13.6,1102.0,523.0,507.0,187.0,1375.0,1583.0,18.2,36.3,0.7487,NaN,NaN
9352,4/4/2005,10:00:00,3.1,1314.0,-200.0,13.5,1101.0,472.0,539.0,190.0,1374.0,1729.0,21.9,29.3,0.7568,NaN,NaN
9353,4/4/2005,11:00:00,2.4,1163.0,-200.0,11.4,1027.0,353.0,604.0,179.0,1264.0,1269.0,24.3,23.7,0.7119,NaN,NaN
9354,4/4/2005,12:00:00,2.4,1142.0,-200.0,12.4,1063.0,293.0,603.0,175.0,1241.0,1092.0,26.9,18.3,0.6406,NaN,NaN
9355,4/4/2005,13:00:00,2.1,1003.0,-200.0,9.5,961.0,235.0,702.0,156.0,1041.0,770.0,28.3,13.5,0.5139,NaN,NaN
9356,4/4/2005,14:00:00,2.2,1071.0,-200.0,11.9,1047.0,265.0,654.0,168.0,1129.0,816.0,28.5,13.1,0.5028,NaN,NaN
9357,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [37]:
#Observing the data, each data has a data point per hour
#However all the column of Date NaN also have a NaN
#Hence it makes sense to drop all NaN rows which amount to 114 data points out of 9471 data points = 0.11%
initial_df.dropna(subset=['Date'],inplace=True)
initial_df.describe()

,CO(GT),PT08.S1(CO),NMHC(GT),C6H6(GT),PT08.S2(NMHC),NOx(GT),PT08.S3(NOx),NO2(GT),PT08.S4(NO2),PT08.S5(O3),T,RH,AH,Unnamed: 15,Unnamed: 16
count,9357.000000,9357.000000,9357.000000,9357.000000,9357.000000,9357.000000,9357.000000,9357.000000,9357.000000,9357.000000,9357.000000,9357.000000,9357.000000,0.0,0.0
mean,-34.207524,1048.990061,-159.090093,1.865683,894.595276,168.616971,794.990168,58.148873,1391.479641,975.072032,9.778305,39.485380,-6.837604,NaN,NaN
std,77.657170,329.832710,139.789093,41.380206,342.333252,257.433866,321.993552,126.940455,467.210125,456.938184,43.203623,51.216145,38.976670,NaN,NaN
min,-200.000000,-200.000000,-200.000000,-200.000000,-200.000000,-200.000000,-200.000000,-200.000000,-200.000000,-200.000000,-200.000000,-200.000000,-200.000000,NaN,NaN
25%,0.600000,921.000000,-200.000000,4.000000,711.000000,50.000000,637.000000,53.000000,1185.000000,700.000000,10.900000,34.100000,0.692300,NaN,NaN
50%,1.500000,1053.000000,-200.000000,7.900000,895.000000,141.000000,794.000000,96.000000,1446.000000,942.000000,17.200000,48.600000,0.976800,NaN,NaN
75%,2.600000,1221.000000,-200.000000,13.600000,1105.000000,284.000000,960.000000,133.000000,1662.000000,1255.000000,24.100000,61.900000,1.296200,NaN,NaN
max,11.900000,2040.000000,1189.000000,63.700000,2214.000000,1479.000000,2683.000000,340.000000,2775.000000,2523.000000,44.600000,88.700000,2.231000,NaN,NaN

In [38]:
#Now check if the Date filed no longer as NaN
initial_df[initial_df['Date'].isnull()]

Empty DataFrame
Columns: [Date, Time, CO(GT), PT08.S1(CO), NMHC(GT), C6H6(GT), PT08.S2(NMHC), NOx(GT), PT08.S3(NOx), NO2(GT), PT08.S4(NO2), PT08.S5(O3), T, RH, AH, Unnamed: 15, Unnamed: 16]
Index: []

## All NaN in Date filed are dropped off, hence lost 114 rows out of 9471 rows of data.

In [51]:
#Now check over-all NaN in data-set
#Check for null values
print(initial_df.isnull().sum())

Date                0
Time                0
CO(GT)              0
PT08.S1(CO)         0
NMHC(GT)            0
C6H6(GT)            0
PT08.S2(NMHC)       0
NOx(GT)             0
PT08.S3(NOx)        0
NO2(GT)             0
PT08.S4(NO2)        0
PT08.S5(O3)         0
T                   0
RH                  0
AH                  0
Unnamed: 15      9357
Unnamed: 16      9357
dtype: int64

## As NaN in Date co-incided with NaN in other column, now there are no more NaN, Data is cleaned-up for further processing.