In [1]:
#Author  : Sateesh Kalidas
#Date    : 18/Apr/2020
#Purpose : Linear Regression assignement

#the iris(the flower)dataset attached contains five variables namely,
#1.SepalLength(Cm)
#2.SepalWidth(Cm)
#3.PetalLength(Cm)
#4.PetalWidth(Cm)
#5.Species
#All you need to do is performing Linear Regression in python on this 
#dataset taking Sepal Length as Response or dependent variable and rest
#of the variables as independent ones.
#Before performing Linear Regression please check 
#1.> whether there exists any multicollinearity in the independent 
#variables with correlation matrix and suitable scatter plots.
#2.> find the correlation between dependent variable and each 
#independent variable.
#3.> Find if there is any outlier in the variables given with suitable
#boxplots.
#Give your observed inputs.

SyntaxError: invalid syntax (<ipython-input-1-2d76f8085329>, line 5)

In [2]:
#Check if the current working directory matches with location of data-set
import os
os.getcwd()

'C:\\Users\\SK00642740\\SateeshK\\src\\py_utils'

In [3]:
import pandas as pd
df = pd.read_csv('iris.csv')

In [4]:
df.head()

   Sepal.Length  Sepal.Width  Petal.Length  Petal.Width Species
0           5.1          3.5           1.4          0.2  setosa
1           4.9          3.0           1.4          0.2  setosa
2           4.7          3.2           1.3          0.2  setosa
3           4.6          3.1           1.5          0.2  setosa
4           5.0          3.6           1.4          0.2  setosa

In [7]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 150 entries, 0 to 149
Data columns (total 5 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   Sepal.Length  150 non-null    float64
 1   Sepal.Width   150 non-null    float64
 2   Petal.Length  150 non-null    float64
 3   Petal.Width   150 non-null    float64
 4   Species       150 non-null    object
dtypes: float64(4), object(1)
memory usage: 6.0+ KB

In [8]:
df.describe()

       Sepal.Length  Sepal.Width  Petal.Length  Petal.Width
count    150.000000   150.000000    150.000000   150.000000
mean       5.843333     3.057333      3.758000     1.199333
std        0.828066     0.435866      1.765298     0.762238
min        4.300000     2.000000      1.000000     0.100000
25%        5.100000     2.800000      1.600000     0.300000
50%        5.800000     3.000000      4.350000     1.300000
75%        6.400000     3.300000      5.100000     1.800000
max        7.900000     4.400000      6.900000     2.500000

In [5]:
#Collect stats on total missing values across all features.
print(df.isnull().sum())

Sepal.Length    0
Sepal.Width     0
Petal.Length    0
Petal.Width     0
Species         0
dtype: int64

In [ ]:
#Data is clean, so no effort needed further to clean this data-set