In [ ]:
#Author : Sateesh K
#Date   : 27/Apr/2020
#Purpose: Abelone gender prediction.
#   Name		Data Type	Meas.	Description
#	----		---------	-----	-----------
#	Sex		nominal			M, F, and I (infant) ==== Indepedent variable.
#	Length		continuous	mm	Longest shell measurement
#	Diameter	continuous	mm	perpendicular to length
#	Height		continuous	mm	with meat in shell
#	Whole weight	continuous	grams	whole abalone
#	Shucked weight	continuous	grams	weight of meat
#	Viscera weight	continuous	grams	gut weight (after bleeding)
#	Shell weight	continuous	grams	after being dried
#	Rings		integer			+1.5 gives the age in years

In [3]:
#Load the data into a Pandas data structure
import pandas as pd
import os
print(os.getcwd())

C:\Users\SK00642740\SateeshK\src\py_utils

In [14]:
#Copy the file to current cwd
from shutil import copyfile
copyfile('C:\\Users\\SK00642740\\iCloudDrive\\School\\AI\\Week9_Logistic_Regression\\abalone.csv',os.getcwd() + '\\' + 'abalone.csv')
df = pd.read_csv('abalone.csv')

In [15]:
df.describe()

,Length,Diameter,Height,Whole weight,Shucked weight,Viscera weight,Shell weight,Rings
count,4177.000000,4177.000000,4177.000000,4177.000000,4177.000000,4177.000000,4177.000000,4177.000000
mean,0.523992,0.407881,0.139516,0.828742,0.359367,0.180594,0.238831,9.933684
std,0.120093,0.099240,0.041827,0.490389,0.221963,0.109614,0.139203,3.224169
min,0.075000,0.055000,0.000000,0.002000,0.001000,0.000500,0.001500,1.000000
25%,0.450000,0.350000,0.115000,0.441500,0.186000,0.093500,0.130000,8.000000
50%,0.545000,0.425000,0.140000,0.799500,0.336000,0.171000,0.234000,9.000000
75%,0.615000,0.480000,0.165000,1.153000,0.502000,0.253000,0.329000,11.000000
max,0.815000,0.650000,1.130000,2.825500,1.488000,0.760000,1.005000,29.000000

In [16]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4177 entries, 0 to 4176
Data columns (total 9 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   Sex              4177 non-null   object
 1   Length           4177 non-null   float64
 2   Diameter         4177 non-null   float64
 3   Height           4177 non-null   float64
 4   Whole weight     4177 non-null   float64
 5   Shucked weight   4177 non-null   float64
 6   Viscera weight   4177 non-null   float64
 7   Shell weight     4177 non-null   float64
 8   Rings            4177 non-null   int64
dtypes: float64(7), int64(1), object(1)
memory usage: 293.8+ KB

In [17]:
#Collect stats on total missing values across all features.
print(df.isnull().sum())

Sex                0
Length             0
Diameter           0
Height             0
Whole weight       0
Shucked weight     0
Viscera weight     0
Shell weight       0
Rings              0
dtype: int64